*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:var(--background);

    font-family:'Poppins',sans-serif;

    color:var(--text-dark);

}

a{

    text-decoration:none;

}

img{

    max-width:100%;

}

.container-page{

    padding:30px;

}